body {
    /* Source: https://uigradients.com */
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
}

h1{
    color: white;
}

hr{
    background-color: white;
}

p{
    font-size: 1.5em;
}

.white-bg{
    background-color: white;
    border: 2px solid black;
    border-radius: 5%;
}

.green-bg{
    background-color: rgb(174, 222, 174);
    border: 2px solid green;
}

.red-bg{
    background-color: rgb(235, 152, 152);
    border: 2px solid red;
}

.displayNone{
    display: none;
}

.changeContainer{
    background-color: rgb(215, 215, 215);
    border-radius: 5%;
    width: 7em;
}

